@model FicticiaSeguros.Core.Models.PersonModel

@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Seguto que desea eliminar al asegurado: @Model.Name ?</h3>
<div>
    <h5>Detalles del asegurado</h5>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <text>Nombre</text>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            <text>Identificación</text>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Identification)
        </dd>
        <dt class = "col-sm-2">
            <text>Edad</text>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            <text>Estado</text>
        </dt>
        <dd class = "col-sm-10">
            @if (!Model.State)
            {
                @:Inactivo
            }
            else
            {
                @:Activo
            }
        </dd>
        <dt class = "col-sm-2">
            <text>Maneja</text>
        </dt>
        <dd class="col-sm-10">
            @if (!Model.IsDriver)
            {
                @:No
            }
            else
            {
                @:Si
            }
        </dd>
        <dt class = "col-sm-2">
            <text>Usa Lentes</text>
        </dt>
        <dd class="col-sm-10">
            @if (!Model.UseLenses)
            {
                @:No
            }
            else
            {
                @:Si
            }
        </dd>
        <dt class = "col-sm-2">
            <tetx>Diabetico</tetx>
        </dt>
        <dd class="col-sm-10">
            @if (!Model.IsDiabetic)
            {
                @:No
            }
            else
            {
                @:Si
            }
        </dd>
        <dt class = "col-sm-2">
            <text>Otra dolencia</text>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherDisease)
        </dd>
        <dt class = "col-sm-2">
            <text>Fecha de Alta</text>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger btn-sm" /> |
        <a asp-action="Index" class="btn btn-success btn-sm">Volver al listado</a>
    </form>
</div>
